<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPG Booking System - About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">LPG Booking</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('booking') }}">Booking</a></li>
                <li><a href="{{ url_for('login_page') }}">Login</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('forget') }}">Forgot Password?</a></li>
            </ul>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <section class="about-section">
            <h2>About LPG Booking System</h2>
            <div class="about-content">
                <p>Welcome to LPG Booking System, your reliable partner for LPG cylinder booking and delivery. Our mission is to provide a seamless and efficient service to ensure that you never run out of gas.</p>
                <p>With a network of trusted LPG agencies across the city, we guarantee prompt delivery and top-notch customer service. Our user-friendly platform allows you to book your LPG cylinder with just a few clicks.</p>
            </div>
            <div class="team-section">
                <h3>Our Team</h3>
                <div class="team-members">
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='images/m1.jpg') }}" alt="Team-member 1">
                        <h4>Nabajyoti Swargiary</h4>
                    </div>
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='images/m2.jpg') }}" alt="Team-member 2">
                        <h4>Abinash Mudoi</h4>

                    </div>
                    <!-- Add more team members as needed -->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 LPG Booking System. All rights reserved.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
